<h1>It works!</h1>

<button {{action "sendInfoEvent"}}>Send "info" event</button>
<button {{action "sendErrorEvent"}}>Send "error" event</button>

<section class="competence-cards">
  <ul class="card-list">
    <li class="card-list__item">
      <article class="competence-card">
        <header class="competence-card__header">
          <span class="competence-card__domain-name">Informations et données</span>
          <span class="competence-card__competence-name">Mener une recherche et une veille d’information</span>
        </header>
        <div class="competence-card__body">
          <div class="pie-wrapper progress-45 style-2 competence-card__level-wrapper">
            <div class="label competence-card__level">
              <!--<span class="competence-card__level-label">Niveau</span>-->
              <span class="competence-card__level-value">4</span>
            </div>
            <div class="pie competence-card__pie">
              <div class="left-side half-circle"></div>
              <div class="right-side half-circle"></div>
            </div>
          </div>
        </div>
        <footer></footer>
      </article>
    </li>
  </ul>
</section>